.about {
  min-height: 600px;
  position: relative;
  padding: 100px 20px 0;

  .row {
    position: relative;
    min-height: 400px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 2;
  }
  .col {
    position: relative;
    min-height: 400px;

    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
