@import "./variable.scss";

.order-layout {
  position: relative;
  padding-top: 80px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background: rgba(0, 0, 0, 0.7);
  .bg {
    z-index: -1;
  }

  .admin-header {
    position: sticky;
    top: 81px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
    box-shadow: 0 0 3px 0 rgba(14, 14, 14, 0.4);
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        text-align: center;
        padding: 5px 5px;
        cursor: pointer;
        color: black;
        font-size: 1rem;

        &:hover {
          color: rgb(247, 145, 107);
        }
      }
      .active {
        color: $primary;
        border-bottom: 2px solid $primary;

        font-weight: bold;
      }
    }
  }

  //   order style

  .order-client {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .order-wrapper {
    margin: 10px 10px;
    min-height: 200px;
    padding: 5px 10px;
    position: relative;
    background: white;

    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    .tag {
      position: absolute;
      left: -5px;
      top: -5px;
      width: 40px;
      height: 40px;

      background: rgba(255, 127, 80, 0.5);

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      h1 {
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
      }
    }
    .img {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100px;
      margin: auto;
      background: rgb(220, 220, 220);

      p {
        margin: 0;
      }
    }
    .order-info {
      flex: 1;

      padding: 5px;

      h4 {
        background: rgba(255, 127, 80, 0.7);
        text-align: center;
        padding: 5px 0;
      }

      button {
        border: none;
        outline: none;
        padding: 5px 10px;
        margin-left: 10px;
        background: $primary;

        box-shadow: -2px 0 3px 0px $secondary;
        position: relative;

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  // reject style

  .reject-client {
    min-height: 40px;
    margin: 10px 0 10px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;

    .name {
      padding: 0 5px;
    }
    .time {
      padding: 0 5px;
    }
    .info {
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      cursor: pointer;
      i {
        color: white;
        font-size: 1.2rem;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  // approved style

  .approvedorders {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .approvedorder {
      margin: 10px 10px;
      min-height: 200px;
      padding: 5px 10px;
      position: relative;
      background: white;

      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      .tag {
        position: absolute;
        left: -5px;
        top: -5px;
        width: 40px;
        height: 40px;

        background: rgba(255, 127, 80, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        h1 {
          font-size: 1.2rem;
          color: black;
          font-weight: bold;
        }
      }

      .img {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        margin: auto;
        background: rgb(220, 220, 220);
      }

      .order-info {
        flex: 1;

        padding: 5px;

        h4 {
          background: rgba(255, 127, 80, 0.7);
          text-align: center;
          padding: 5px 0;
        }

        button {
          border: none;
          outline: none;
          padding: 5px 10px;
          margin-left: 10px;
          background: $primary;

          box-shadow: -2px 0 3px 0px $secondary;
          position: relative;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  // complete style

  .completed-client {
    min-height: 40px;
    margin: 10px 0 10px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;

    .name {
      padding: 0 5px;
    }
    .time {
      padding: 0 5px;
    }
    .info {
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      cursor: pointer;
      i {
        color: white;
        font-size: 1.2rem;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
