@import "./variable.scss";
.cart-layout {
  position: relative;
  padding-top: 80px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background: rgba(0, 0, 0, 0.7);
  .bg {
    z-index: -1;
  }

  .cart-header {
    position: sticky;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
    box-shadow: 0 0 3px 0 rgba(14, 14, 14, 0.4);
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        text-align: center;
        padding: 5px 5px;
        cursor: pointer;
        color: black;
        font-size: 1rem;

        &:hover {
          color: rgb(247, 145, 107);
        }
      }
      .active {
        color: $primary;
        border-bottom: 2px solid $primary;

        font-weight: bold;
      }
    }
  }

  //   pending order

  .pendingorders {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .order {
      margin: 10px 10px;
      min-height: 200px;
      padding: 5px 10px;
      position: relative;
      background: white;

      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      .img {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        margin: auto;
        background: rgb(220, 220, 220);

        p {
          margin: 0;
        }
      }

      .order-info {
        flex: 1;

        padding: 5px;

        h4 {
          background: rgba(255, 127, 80, 0.7);
          text-align: center;
          padding: 5px 0;
        }

        button {
          border: none;
          outline: none;
          padding: 5px 10px;

          background: $primary;

          box-shadow: -2px 0 3px 0px $secondary;
          position: relative;
          margin: 5px;
          &:hover {
            transform: scale(0.9);
          }
        }
      }

      .tag {
        position: absolute;
        left: -5px;
        top: -5px;
        width: 40px;
        height: 40px;

        background: rgba(255, 127, 80, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        h1 {
          font-size: 1.2rem;
          color: black;
          font-weight: bold;
        }
      }
    }
  }

  // Rejected order
  .reject-wrapper {
    .reject-client {
      min-height: 40px;
      margin: 10px 0 10px;
      background: white;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 10px;
      flex-wrap: wrap;

      .name {
        padding: 0 5px;
      }
      .time {
        padding: 0 5px;
      }
      .info {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        background: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
        i {
          color: white;
          font-size: 1.2rem;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  //   Approved order
  .approvedorders {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .approved-order {
      margin: 10px 10px;
      min-height: 200px;
      padding: 5px 10px;
      position: relative;
      background: white;

      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      .img {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        margin: auto;
        background: rgb(220, 220, 220);

        p {
          margin: 0;
        }
      }

      .approve-info {
        flex: 1;

        padding: 5px;

        h4 {
          background: rgba(255, 127, 80, 0.7);
          text-align: center;
          padding: 5px 0;
        }
      }
      .tag {
        position: absolute;
        left: -5px;
        top: -5px;
        width: 40px;
        height: 40px;

        background: rgba(255, 127, 80, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        h1 {
          font-size: 1.2rem;
          color: black;
          font-weight: bold;
        }
      }
    }

    .noapprovedorders {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;

      h3 {
        color: $textNdark;
        opacity: 0.7;
        font-weight: 400;
      }
    }
  }
  // Completed order

  .complete-order {
    min-height: 40px;
    margin: 10px 0 10px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;

    .name {
      padding: 0 5px;
    }
    .time {
      padding: 0 5px;
    }
    .info {
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      cursor: pointer;
      i {
        color: white;
        font-size: 1.2rem;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
