html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
// font-family: 'Estonia', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:wght@300;500&display=swap");
// font-family: 'Open Sans', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
// font-family: 'Open Sans', sans-serif;
@import "./variable.scss";
a {
  color: unset !important;
  text-decoration: none !important;
}

*,
ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0 !important;
}

@import "./Header.scss";
@import "./home.scss";
@import "./menus.scss";
@import "./footer.scss";
@import "./contacts.scss";
@import "./about.scss";
@import "./signin.scss";
@import "./signup.scss";
@import "./signout.scss";
@import "./formaddmenu.scss";
@import "./cart.scss";
@import "./placeorder.scss";
@import "./admin.scss";
@import "./Layout.module.scss";
@import "./loading.scss";
@import "./profile.scss";
@keyframes showforms {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showup {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes showright {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
