html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
// font-family: 'Estonia', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Open+Sans:wght@300;500&display=swap");
// font-family: 'Open Sans', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
// font-family: 'Open Sans', sans-serif;
a {
  color: unset !important;
  text-decoration: none !important;
}

*,
ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0 !important;
}

@import "./Header.scss";
@import "./home.scss";
@import "./menus.scss";
@import "./footer.scss";
@import "./contacts.scss";
@import "./about.scss";
