@import "./variable.scss";
.layout {
  display: grid;
  min-height: 800px;
  grid-template-rows: 1fr auto;
  max-width: 2500px;
  margin: auto;
}

.rejectmodal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  z-index: 1000;
  visibility: hidden;

  form {
    overflow: scroll;
    overflow-x: hidden;
    width: 500px;
    max-width: 500px;
    max-height: 100vh;
    padding: 5px 10px;
    background: white;
    margin: 10px 0;

    .input-group {
      display: flex;
      flex-direction: column;
      padding: 5px;
      textarea {
        min-height: 100px;
        max-height: 100px;
        padding: 5px 10px;
        box-shadow: 0 0 3px 0 black;
        outline: none;
        border: none;
      }

      .action {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button {
          border: none;
          outline: none;
          margin-right: 10px;
          padding: 5px 10px;
          background: $secondary;
          color: white;
          border-radius: 2px;
          &:hover {
            background: $primary;
            transform: scale(0.9);
          }
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.showrejectmodal {
  visibility: visible;

  form {
    animation: showforms 500ms ease-in 1;
  }
}

.reject-info,
.completed-info {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  z-index: 1000;

  .reject,
  .completed {
    overflow: scroll;
    overflow-x: hidden;
    width: 500px;
    max-width: 500px;
    max-height: 100vh;
    padding: 5px 10px;
    background: white;
    margin: 10px 0;
    position: relative;
    animation: showformsleft 500ms ease-in 1;
    &::-webkit-scrollbar {
      display: none;
    }

    .exit {
      position: absolute;
      right: 15px;
      top: 5px;
      font-size: 1.3rem;
      color: $primary;
      cursor: pointer;
    }
  }
}

.cancel-order {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  z-index: 1000;

  .img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  h6,
  h5 {
    text-align: center;
  }

  > div {
    overflow: scroll;
    overflow-x: hidden;
    width: 500px;
    max-width: 500px;
    max-height: 100vh;
    padding: 5px 10px;
    background: white;
    margin: 10px 0;
    animation: showforms 500ms ease-in 1;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .action {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    button {
      border: none;
      outline: none;
      margin-right: 10px;
      padding: 5px 10px;
      background: $secondary;
      color: white;
      border-radius: 2px;
      &:hover {
        background: $primary;
        transform: scale(0.9);
      }
    }
  }
}

.loaderStyle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 100px;
    max-width: 100px;
    height: 100px;
    animation: show 300ms ease-in 1;
  }
}
@keyframes show {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes showformsleft {
  0% {
    transform: translateX(100%);

    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
