.main-profile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 5000;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;

  .profile {
    width: 260px;
    max-width: 260px;
    background: white;
    height: 100%;
    padding: 10px;
    overflow-y: auto;

    animation: showright 500ms ease-in 1;
    .back {
      button {
        padding: 5px 10px;
        border: none;
        box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.3);
        &:hover {
          color: coral;
        }
      }
    }

    .dp {
      .img {
        width: 200px;
        height: 200px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
      }
      margin: 10px 0;
    }

    .user-info {
      text-align: center;
      .name {
        color: black;
        font-size: 1.4rem;
        font-weight: bold;
      }

      button {
        box-shadow: 0 0 5px 1px gray;
        border: none;
        padding: 5px 10px;
        background: coral;
        margin: 10px 0;
      }
    }
  }
}
