@import "./variable.scss";
.signup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  z-index: 1000;
  visibility: hidden;

  .form-wrapper {
    overflow: scroll;
    overflow-x: hidden;
    width: 500px;
    max-width: 500px;
    max-height: 100vh;
    padding: 5px 10px;
    background: white;
    margin: 10px 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  form {
    h2 {
      color: $secondary;
      text-align: center;
    }
    .err {
      background: rgba(255, 0, 0, 0.3);
      text-align: center;
    }

    .input-group {
      display: flex;
      flex-direction: column;

      width: 100%;
      position: relative;
      margin-top: 30px;

      label {
        color: $secondary;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
      }
      input {
        height: 40px;
        max-height: 40px;
        background: rgb(191, 191, 191);
        outline: none;
        border: none;
        padding: 0 10px;

        &:focus {
          box-shadow: 0 0 3px $primary;
        }
      }
    }
    .form-error {
      color: $primary;
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;

      button {
        border: none;
        outline: none;
        margin-right: 10px;
        padding: 5px 10px;
        background: $secondary;
        color: white;
        border-radius: 2px;
        &:hover {
          background: $primary;
          transform: scale(0.9);
        }
      }
    }
    .reminder {
      color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;

      p:nth-child(2) {
        margin-left: 5px;
        border-bottom: 0.8px solid $primary;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }

    .social_auth {
      border-top: 1px dashed $primary;
      display: flex;
      justify-content: center;

      i {
        width: 40px;
        height: 40px;
        max-width: 40px;
        border: 1px solid $primary;
        border-radius: 50px;
        margin: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary;
        cursor: pointer;
        font-size: 25px;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.signup-show {
  visibility: unset;

  .form-wrapper {
    animation: showforms 500ms ease-in 1;
  }
}
