@import "./variable.scss";
.signup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  min-height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  z-index: 1000;
  visibility: hidden;

  .form-wrapper {
    overflow: scroll;
    overflow-x: hidden;
    width: 500px;
    max-width: 500px;
    max-height: 100vh;
    padding: 5px 10px;
    background: $secondary;
    margin: 10px 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  form {
    h2 {
      color: $textNdark;
      text-align: center;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;

      label {
        color: $textNdark;
      }
      input {
        height: 40px;
        max-height: 40px;

        outline: none;
        border: none;
        padding: 0 10px;

        &:focus {
          box-shadow: 0 0 3px $primary;
        }
      }

      .form-error {
        color: $primary;
        font-size: 0.9rem;
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;

      button {
        border: none;
        outline: none;
        margin-right: 10px;
        padding: 5px 10px;
        background: white;

        &:hover {
          background: $primary;
        }
      }
    }
    .reminder {
      color: $textNdark;
      display: flex;
      justify-content: center;
      align-items: center;

      p:nth-child(2) {
        margin-left: 5px;
        border-bottom: 0.8px solid white;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }

    .social_auth {
      border-top: 1px dashed $primary;
      display: flex;
      justify-content: center;

      i {
        width: 40px;
        height: 40px;
        max-width: 40px;
        border: 1px solid white;
        border-radius: 50px;
        margin: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        cursor: pointer;
        font-size: 25px;

        &:hover {
          color: white;
        }
      }
    }
  }
}
.signup-show {
  visibility: unset;

  .form-wrapper {
    animation: showforms 500ms ease-in 1;
  }
}
